.box {
  width: 75px;
  height: 75px;
  border: 2px solid red;
  position: absolute;
}
#main-box {
  width: 400px;
  height: 300px;
  border: 2px solid red;
  position: relative;
}

#box-1 {
  top: -2px;
  left:-2px;
}

#box-2 {
  top: -2px;
  right: -2px;
}

#box-3 {
  bottom: -2px;
  left: -2px;
}

#box-4 {
  bottom: -2px;
  right: -2px;
}

#box-5 {
  top: 111px;
  left: 161px;
}
